body {
    display: block;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header ul {
    display: flex;
    align-items: center;
}
header li {
    list-style: none;
}

header img + li {
    opacity: 70%
}

.nav-container {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 6px 0;
    justify-content: space-between;
}

.nav-container img {
    height: 48px;
}

.nav-left {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.nav-right {
    color: black;
    font-size: 21px;
    font-weight: 300;
    margin-right: 24px;
}

.school {
    color: grey;
    font-weight: 300;
}

main section {
    display: block;
}

/* SECTION ONE */

.section-1 {
    display: inline-flex;
    background: lightgrey;
    color: darkblue;
    flex-direction: row;
}

.section-1 .banner {
    margin: 32px 24px;
    width: 60%;
}

section .heading {
    flex-direction: column;
    align-self: center;
    align-content: space-around;
    width: 30%;
}

.section-1 h1 {
    font-size: 50px;
    font-weight: bold;
}

.section-1 p {
    font-size: 24px;
}

.section-1 img {
    width: 100%;
}

.section-1 .button {
    justify-content: center;
    background-color: darkblue;
    color: white;
    font-size: 21px;
    font-weight: 300;
    padding: 8px 100px;
    border: none;
    
}

/* SECTION TWO */

.section-2 {
    display: inline-flex;
    background: white;
    color: black;
    flex-direction: row;
}

.section-2 .info {
    margin: 32px 24px;
    width: 60%;
}

.section-2 img {
    width: 100%;
}

.section-2 h4 {
    font-size: 48px;
    margin-bottom: 24px;
}

.section-2 p {
    font-size: 18px;
    margin-bottom: 32px;
}
.information {
    flex-direction: column;
    align-self: center;
    align-content: space-around;
    width: 35%;
}

.information img {

}

.information .menu {
    flex-direction: row;
    align-content: space-around;
    width: 35%;
}


